@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
	perspective:800px;
}
body{
	background-color:#fff;
	width:100%;
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.timeline{
	position:relative;
	width:800px;
	padding:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.timeline:before{
	content: '';
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	width:4px;
	height:100%;
	background-color:#ccc;
}
.timeline ul{
	list-style-type:none;
}
.timeline ul li{
	width:50%;
	padding:5px 30px 40px 30px;
	cursor:pointer;
}
.timeline ul li:nth-child(even):before{
	content:'';
	position:absolute;
	width:12px;
	height:12px;
	background-color:#212529;
	border-radius:50%;
	left:-6px;
	top:12px;
	transition:.5s;
}
.timeline ul li:nth-child(odd):before{
	content:'';
	position:absolute;
	width:12px;
	height:12px;
	background-color:#212529;
	border-radius:50%;
	right:-6px;
	top:12px;
	transition:.5s;
}
.timeline ul li:hover:before{
	box-shadow:0px 0px 5px 2px #ff4a4a;
}
.timeline ul li:nth-child(even){
	float:right;
	text-align:left;
	clear:both;
}
.timeline ul li:nth-child(odd){
	float:left;
	text-align:right;
	clear:both;
}
.timeline ul li:nth-child(odd) .time{
	font-size: 14px;
	position:absolute;
	right:-38%;
	top: 3px;
	background-color:#212529;
	color:#ff4a4a;
	text-align:center;
	width:120px;
	height:28px;
	line-height:28px;
	border-radius:20px; 
	box-shadow:0px 0px 0px 3px rgb(204, 194, 194, 0.3);
}
.timeline ul li:nth-child(even) .time{
	font-size: 14px;
	position:absolute;
	left:-38%;
	top: 3px;
	background-color:#212529;
	color:#ff4a4a;
	text-align:center;
	width:120px;
	height:28px;
	line-height:28px;
	border-radius:20px; 
	box-shadow:0px 0px 0px 3px rgb(204, 194, 194, 0.3);
}
.timeline ul li .content h3{
	color:#222;
	font-size:17px;
}
.timeline ul li .content p{
	color:#222;
}

::selection{
	color: inherit;
}

a {
	color: inherit;
	text-decoration: inherit;
	font-weight: bolder;
}

@media (max-width:750px){
	.timeline{
		width:100%;
		margin:5px 0px;
	}
	.timeline:before{
		left:20px;
	}
	.timeline ul li{
		width:100%;
		padding:3px 0px 40px 20px;
		cursor:pointer;
	}
	.timeline ul li:nth-child(even):before{
		left:-6px;
	}
	.timeline ul li:nth-child(odd):before{
		left:-6px;
	}
	.timeline ul li:nth-child(even){
		float:left;
		text-align:left;
	}
	.timeline ul li:nth-child(odd){
		float:left;
		text-align:left;
	}
	.timeline ul li:nth-child(odd) .time{
		position:static;
		text-align:center;
		padding-left:5px;
		box-shadow:0px 0px 0px 0px ;
	}
	.timeline ul li:nth-child(even) .time{
		position:static;
		text-align:center;
		padding-left:5px;
		box-shadow:0px 0px 0px 0px ;
	}
}

.edu-date{
	opacity: 0.4;
}

h3{
	color: #ff4a4a!important;
}

p{
	color: #615e5e!important;
}