html {
  scroll-behavior: smooth;
  font-family: sans-serif;  
}

body {
  position: relative;
}

p {
  color: #635f5f;
}

a {
  color: #635f5f;
}

a:hover {
  color: #ff4a4a;
}

nav{
  height: 10vh;
  background-color: #212529;
  position: fixed;
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-brand {
  font-size: 32px;
  color: #fff;
  float: left;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

@media only screen and (max-width: 1024px) {
  .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  .nav-brand {
    color: #fff;
    float: left;
    height: 100%;
    width: 120px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  nav {
    position: fixed;
    z-index: 2;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background-color: #ff4a4a;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
    transition: all 1s ease;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li a{
    font-size: 25px;
  }
  .nav-links li:nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
    transition: all 0.5s ease 0.8s;
  }
  li.fade{
    opacity: 1;
  }
}

.lander {
  text-align: center;
  padding-top: 240px;
  background-color: #212529;
  height: 100vh;
  color: #fff;
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing{
  position: relative;
  z-index: 0;
}

.typing::after{
  content: "";
  position: absolute;
  right: -5px;
  top: 5px;
  width: 1px;
  height: 30px;
  border-right: 2px solid #fff;
  animation: blink 0.5s infinite ease;
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

h1 {
  font-size: 80px;
  font-family: "Avenir Next"!important;
}

h2 {
  font-size: 70px;
  font-family: "Avenir Next"!important;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

.lander-container span {
  color: #ff4a4a;
}

.social-link {
  padding-top: 180px;
}

.social-link i {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 28px;
  color: #fff;
}

.social-link i:hover {
  color: #ff4a4a;
}

@media only screen and (max-width: 1024px) {
  .lander {
    text-align: center;
    padding-top: 280px;
    background-color: #212529;
    height: 100vh;
    color: #fff;
  }

  .typing::after{
    top: 0px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 15px;
  }

  .lander-container span {
    color: #ff4a4a;
  }

  .social-link {
    padding-top: 180px;
  }

  .social-link i {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    color: #fff;
  }
}

@media only screen and (max-height: 700px) {
  .lander {
    text-align: center;
    padding-top: 200px;
    background-color: #212529;
    height: 100vh;
    color: #fff;
  }
}

.parallax {
  background-image: url("./images/profile-bw.jpg");

  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  text-align: center;
}

.grey-bg{
  background-color: #dadada38;
  padding-bottom: 20px;
}

.about-title {
  text-align: center;
  padding-top: 80px;
}

.about-title p {
  color: #ff4a4a;
}

.about-content img {
  margin-top: -80px;
  width: 240px;
  float: left;
  padding-left: 80px;
}

.about-content p {
  margin: 0 400px;
}

@media only screen and (max-width: 1024px) {
  .about-title {
    text-align: center;
    padding-top: 80px;
  }

  .about-content img {
    width: 140px;
    float: none;
    padding-left: 0px;
    margin-top: 0px;
  }

  .about-content p {
    margin: 40px 0px;
    padding: 0 20px;
  }
}

.profile-section {
  padding: 0px 300px;
  padding-top: 80px;
}

.profile {
  padding-left: 50px;
  width: 50%;
  float: left;
  text-align: left;
}

.profile-content h5 {
  padding-top: 20px;
}

.skills {
  padding-left: 500px;
}

.progress-bar {
  background-color: #212529;
}

.skills-content h5 {
  padding-top: 20px;
}

.about-button {
  text-align: center;
  padding-top: 60px;
}

.resume input {
  width: 30%;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 18px;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid #212529;
  font-size: 16px;
  width: 200px;
}

@media only screen and (max-width: 1024px) {
  .profile-section {
    padding: 0px 0px;
    padding-top: 30px;
  }

  .profile {
    padding-left: 0px;
    width: 100%;
    float: none;
    text-align: center;
  }

  .profile-content h5 {
    padding-top: 20px;
  }

  .profile h4 {
    font-weight: bold;
  }

  .skills {
    padding: 50px 20px;
    text-align: center;
  }

  .skills h4 {
    font-weight: bold;
  }

  .progress-bar {
    background-color: #212529;
  }

  .skills-content h5 {
    padding-top: 20px;
    text-align: left;
  }

  input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 18px;
    font-size: 18px;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid #212529;
    font-size: 16px;
    width: 100%;
  }

  .button{
    border-radius: 100px;
  }

  .about-button input {
    width: 50%;
  }
}

.resume {
  text-align: center;
}

.resume #honours {
  margin-right: 0;
  border-radius: 20px 0px 0px 20px;
  width: 20%;
}

.resume #education {
  margin-left: 0;
  border-radius: 0px 20px 20px 0px;
  width: 20%;
}

.resume h3 {
  padding-top: 80px;
  padding-bottom: 20px;
}

.resume h4 {
  padding-top: 60px;
  color: #ff4a4a;
  font-weight: bold;
}

.resume #honours-show {
  height: 1950px;
}

.resume #education-show {
  height: 800px;
}

.date {
  padding-top: 20px;
  margin-bottom: 10px;
  color: #ff4a4a;
}

@media only screen and (max-width: 1024px) {
  .resume #honours-show {
    height: 2300px;
  }

  .resume #education-show {
    height: 600px;
  }

  .edu-container {
    margin: 0px 20px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
  }

  .resume #honours {
    width: 45%;
    font-size: 12px;
  }

  .resume #education {
    width: 45%;
    font-size: 12px;
  }
}

.center {
  text-align: center;
}

#contact{
  padding-top: 80px;
}

.contact h5 {
  color: #ff4a4a;
}

.contact-icon {
  padding: 40px;
  font-size: 20px;
  margin: 20px 100px;
}

.contact-icon i {
  font-size: 40px;
  padding: 20px;
  color: #212529;
}

.contact-icon a {
  color: #ff4a4a!important;
}

@media only screen and (max-width: 1024px) {
  .contact-icon {
    padding: 40px;
    font-size: 20px;
    border: 2px solid #212529;
    margin: 20px 20px;
    border-radius: 20px;
  }
}

.container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

form input,
textarea {
  border: none;
  border-bottom: 2px solid #212529;
  width: 90%;
}

form input:focus {
  border: none;
}

textarea::selection {
  border: none;
}

footer {
  background-color: #464749c0;
  height: fit-content;
}

.footer .container {
  text-align: center;
  padding: 40px 400px;
}

.footer-icon {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-icon i {
  font-size: 40px;
  color: #fff;
}

.footer-icon i:hover{
  color: #ff4a4a;
}

.footer-copyright {
  color: #fff;
  background-color: #212529;
}

.footer-name{
  color: #ff4a4a;
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  footer .row {
    margin: 0;
  }

  .footer .container {
    text-align: center;
    padding: 40px 40px;
  }
}
